body { font-family: sans-serif; }
.field {
    width: 306px;
    background-color: #222222;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,100px);
    grid-gap: 3px;
    display: grid;
    border: solid 1px #202020;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.cube {
    background-color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #222;
}
.cube:hover{
    background-color: #6a6a6a;
}